* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --background-color-light: #fff;
    --color-light: black;

    --nav-height: 70px;

    // dark

}


main.browse {
    padding-top: var(--nav-height);
}


@import "./rwd.scss";