@import "./animations.scss";
@import "./non-main.scss";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --background-color-light: #fff;
    --color-light: black;

    --nav-height: 70px;

    // dark

}

body {
    // background-color: red;
    position: relative;
    height: 100vh;
}

body.dark {
}

a {
    text-decoration: none;
    color: inherit;
}

li {
    list-style: none;
}

// N A V B A R
nav {
    font-size: 1.15em;
    height: var(--nav-height);
    background-color: var(--background-color-light);
    color: var(--color-light);
    display: flex;
    padding-inline: 30px;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    z-index: 1000;

    box-shadow: 22px 2px 40px -5px rgba(0,0,0,0.75);

    .logo-span {
        position: relative;
        font-size: 1.3em;

        &::after {
            content: "";
            position: absolute;
            width: 30%;
            height: 100%;
            background-color: pink;
            top: 0;
            left: 0;
            z-index: -10;
        }
    }

    ul {
        font-size: 1.15em;
        display: none;
        align-items: center;
        gap: 25px;

        .nav-link {
            text-align: center;

            color: var(--primary-color);
            position: relative;

            &::after {
                content: "";
                position: absolute;
                height: 2px;
                background-color: black;
                width: 0;
                bottom: -3px;
                left: 0;
                transition: width 500ms ease-in-out;
            }
        
            &:hover::after {
                width: 25%;
            }

            &.active {
                transition: 300ms ease-in-out;

                &::after {
                    width: 25%;
                    background-color: #888;
                }
            }
        }

        .dropdown {
            position: relative;
           
            &:hover .dropdown-content {
                display: block;
                transition: all 500ms ease-in-out;
            }
        }
    
        .dropdown-el {
            cursor: pointer;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    
        .dropdown-content {
            position: absolute;
            background-color: white;
            border: 1px solid black;
            z-index: 10;
            min-width: 150px;
            box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, .2);
            display: none;
    
            a {
                padding: 12px 16px;
                display: block;
                color: black;
    
                &:hover {
                    background-color: #ddd;
                }
            }
        }
    }

    .icons {
        
        display: none;
        // display: flex;
        justify-content: center;
        gap: 10px;
        align-items: center;

        * {
            cursor: pointer;
        }

        .searchbox {
            position: relative;
            display: inline-block;
            
            input {
                padding: 10px;
                visibility: hidden;
                width: 0;
                opacity: 0;
                transition: 300ms ease-in-out;
            }

    
            .search-icon {
                cursor: pointer;
                position: absolute;
                
                transform: translateY(50%);
                bottom: 50%;
                
            }
    
            &.active input {
                visibility: visible;
                opacity: 1;
                width: 200px;
            }
    
            &.active .search-icon {
                right: 10px;
                top: 50%;
                transform: translateY(-50%);
            }
    
        }


        .user-div {

            &:hover .dropdown-content {
                display: block;
            }

            .dropdown-el {
                margin-top: 4px;
                display: inline-block;
                position: relative;
                
                &:hover + .dropdown-content, .dropdown-content:hover {
                    display: block;
                    transition: all 500ms ease-in-out;
                }
            }
    
            .dropdown-content {
                right: 20px;
                position: absolute;
                background-color: white;
                border: 1px solid black;
                z-index: 10;
                min-width: 90px;
                box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, .2);
                display: none;
        
                a {
                    padding: 12px 16px;
                    display: block;
                    color: black;
        
                    &:hover {
                        background-color: #ddd;
                    }
                }
            }
        }
        
    }
    

    .hamburger-menu {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        row-gap: 7px;
        height: 36px;
        width: 40px;
        position: relative;
        cursor: pointer;

        .bar {
            background-color: black;
            border-radius: 1px;
            height: 4px;
            position: absolute;
            width: 35px;

            -webkit-transform: rotate(180deg);
            -moz-transform: rotate(180deg);
            -o-transform: rotate(180deg);
            transform: rotate(180deg);

            -webkit-transition: .5s ease-in-out;
            -moz-transition: .5s ease-in-out;
            -o-transition: .5s ease-in-out;
            transition: .5s ease-in-out;
        }

        .bar:nth-child(1) {
            margin-top: -20px;
        }

        .bar:nth-child(3) {
            margin-top: 20px;
        }  

        &.active .bar:nth-child(1) {
            margin-top: 0;

            -webkit-transform: rotate(45deg);
            -moz-transform: rotate(45deg);
            -o-transform: rotate(45deg);
            transform: rotate(45deg);
        }

        &.active .bar:nth-child(2) {
            background: transparent;
        }

        &.active .bar:nth-child(3) {
            transform: rotate(-45deg);
            margin-top: 0;
        }

        
    }
}

// S I D E B A R
.sidebar {
    background-color: transparent;
    position: fixed;
    height: 100%;
    z-index: 6000;
    top: 0;
    width: 70%;
    left: -70%;
    transition: all 500ms ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding-top: 40px;
    gap: 30px;
    backdrop-filter: blur(10px);
    transition: all 500ms ease-in-out;
    
    -webkit-box-shadow: 22px 2px 40px -5px rgba(0,0,0,0.75);
    -moz-box-shadow: 22px 2px 40px -5px rgba(0,0,0,0.75);
    box-shadow: 22px 2px 40px -5px rgba(0,0,0,0.75);

    .logo-span {
        position: relative;
        font-size: 1.8em;

        &::after {
            content: "";
            position: absolute;
            width: 30%;
            height: 100%;
            background-color: pink;
            top: 0;
            left: 0;
            z-index: -10;
        }
    }


    input {
        font-size: 1.3em;
    }

    &.open {
        left: 0;
    }

    &.closed {
        left: -70%;
    }

    ul {
        display: flex;
        flex-direction: column;
        row-gap: 30px;
        font-size: 1.75em;

        li {
            text-align: center;

            a {
                color: var(--primary-color);
                position: relative;

                &::after {
                    content: "";
                    position: absolute;
                    height: 3px;
                    background-color: black;
                    width: 0;
                    bottom: -3px;
                    left: 0;
                    // color: var(--primary-color);
                    transition: width 500ms ease-in-out;
                    
                }
    
                &:hover::after {
                    width: 25%;
                }
            }
        }
    }

   
}

.searchbox input {
    border-radius: 40px;
    padding: 10px 20px;
}


// H E A D E R
header {
    // height: calc(100vh - var(--nav-height));
    height: max-content;
    position: relative;
    padding: calc(var(--nav-height) + 80px) 40px;
    transition: .5s ease-in-out;

    .header-info {
        display: flex;
        flex-direction: column;
        align-items: center;

        div {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding-inline: 10px;
        }

        h1 {
            margin-top: 15px;
            font-size: 1.8em;
        }
    
        button {
            font-size: 1.3em;
            margin-top: 20px;
            background: transparent;
            outline: none;
            cursor: pointer;
            padding: 15px 30px;
            transition: 400ms ease-in-out;
    
            &:hover {
                border-color: rgba(124, 120, 120, 0.849);
                color: rgba(124, 120, 120, 0.849);
            }
        }
    
        img {
            width: 50%;
            max-width: 500px;
            // height: 50%;
            min-height: 300px;
            max-height: 500px;
            margin-bottom: 30px;
        }

    }

    .dots {
        position: absolute;
        bottom: 90px;
        display: flex;
        column-gap: 10px;
        right: 90px;

        .dot {
            background-color: green;
            width: 25px;
            aspect-ratio: 1 / 1;
            border-radius: 50%;
            cursor: pointer;
            transition: 400ms ease-in-out;

            &:hover {
                background-color: red;
            }
        }
    }
}

// N E W  C O M P
.new-comp {
    position: relative;
    // background-color: #1b1b1b;
    // background: linear-gradient(to bottom, #1b1b1b, #262626);
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 30px 20px;
    color: rgb(94, 38, 38);
    background-color: rgb(237, 161, 18);
    box-shadow: 0 2px 5px rgba(0, 0, 0, .3);

    transition: all .5s ease;

    

}


// N E W  F E A T U R E
.new-feature {
    position: relative;
    // background-color: #1b1b1b;
    // background: linear-gradient(to bottom, #1b1b1b, #262626);
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 30px 20px;
    color: rgb(94, 38, 38);
    background-color: rgb(237, 161, 18);
    box-shadow: 0 2px 5px rgba(0, 0, 0, .3);

    transition: all .5s ease;

    h1 {
        font-weight: 100;
        font-size: 30px;
        margin: 15px 0;
    }

    span {
        font-size: 1.5em;
    }

    li {

        a {
            font-weight: 600;
            font-size: 1.2em;
            margin-top: 3px;
            color: black;
            position: relative;
    
            &::after {
                content: "";
                position: absolute;
                width: 0%;
                height: 2px;
                bottom: -4px;
                background-color: black;
                left: 0;
                transition: .4s ease-in-out;
    
            }
    
            &:hover::after {
                width: 25%;
    
            }
        }
    }
    

}

// B R O W S E
.main-page-browse {
    width: 100%;
    padding-top: 60px;
    height: fit-content;
    padding-bottom: 100px;
    background-color: hsl(0, 0%, 83%);
    display: flex;
    flex-direction: column;

    .categories {
        display: flex;
        padding: 10px 80px;
        align-items: center;
        justify-content: space-between;

        ul {
            display: flex;
            column-gap: 10px;
            font-size: 1.2em;


            li {
                cursor: pointer;
                position: relative;


                &::after {
                    content: "";
                    position: absolute;
                    width: 0;
                    height: 2px;
                    left: 0;
                    background-color: black;
                    bottom: -2px;
                }

                &:hover::after {
                    width: 100%;
                    transition: 400ms ease-in-out;
                }
                
                
                &.active::after {
                    width: 100%;
                }
            }
        }
    }

    .main-cards {
        display: flex;
        column-gap: 10px;
        padding-inline: 25px;
        width: 100%;
        padding-top: 10px;
        flex-wrap: nowrap;
        overflow-y: auto;
        overflow-x: auto;

        scrollbar-width: none;
        -ms-overflow-style: none;
        
        .card {
            cursor: pointer;
            width: 250px;
            height: 400px;
            position: relative;
            padding-bottom: 4px;
            transition: 400ms ease-out;
            margin-bottom: 20px;

            &:hover {
                transform: translateY(10px);
                border-bottom: 0px;

                img {
                    opacity: 0.1;
                }

                .info-div {
                    opacity: 0;
                }

                .hover-card {
                    opacity: 1;
                }
            }

            .hover-card {
                padding-top: 10px;
                z-index: 10;
                height: 100%;
                width: 100%;
                top: 0;
                padding: 10px 20px;
                position: absolute;
                opacity: 0;
                transition: 400ms ease-in-out;

                h1 {
                    font-size: 1.2em;
                    padding-top: 10px;
                }

                span {
                    font-size: 1.1em;
                    padding-bottom: 5px;
                }

                .functional-div {
                    padding-top: 10px;
                    display: flex;
                    column-gap: 10px;
                }
            }

            img {
                transition: 400ms ease-in-out;
                height: 330px;
            }

            .info-div {
                transition: 400ms ease-in-out;
                h1 {
                    font-size: 1.3em;
                    font-weight: 600;
                }
    
                h2 {
                    font-size: 1em;
                    font-weight: 300;
                }
            }
        }

        &::-webkit-scrollbar {
            display: none;
        }
    }
}


// F O O T E R
footer {
    background-color: hsla(0, 0%, 0%, .8);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: gray;
    row-gap: 20px;
    padding: 30px 40px;
    text-align: center;

    .footer-div {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        gap: 15px;

        .icons {
            display: flex;
            column-gap: 10px;

            .icon {
                cursor: pointer;
                transition: 400ms ease-in-out;


                &:hover {
                    fill: white;
                }
            }
        }

        .app-download {
            display: flex;
            column-gap: 10px;
    
            img {
                cursor: pointer;
                width: 180px;
                height: 60px;
                border-radius: 10px
            }
        }

    }

    
    .info {
        color: white;
        h1 {
            font-size: 1.2em;
        }

        span {
            font-size: .9em;
            font-weight: 600;
        }
    }
}

@import "./rwd.scss";


// change torem ???