* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --background-color-light: #fff;
    --color-light: black;

    --nav-height: 70px;

    // dark

}

// B R O W S E
main.browse {
    padding-top: calc(var(--nav-height) + 20px);
    padding-inline: 50px;
    display: flex;
    
    flex-direction: column;

    h1 {
        text-align: center;
    }

    form {
        display: flex;
        justify-content: center;
        margin-top: 20px;
        gap: 20px;
        padding-bottom: 30px;


        div {
            position: relative;
            display: flex;
            align-items: center;

            input {
                min-width: 300px;
                padding: 12px 20px;
                border-radius: 30px;
                padding-right: 40px;
            }

            .search-icon {
                position: absolute;
                right: 15px;
                cursor: pointer;
            }
        }

        button {
            padding: 2px 16px;
            background: transparent;
            font-size: 1.1em;
            cursor: pointer;
        }

    }

    .filter-div {

    }

    .cards {
        min-height: 100vh;
        display: flex;
        column-gap: 10px;
        // padding-inline: 25px;
        width: 100%;
        justify-content: center;
        padding-top: 10px;
        flex-wrap: wrap;

        scrollbar-width: none;
        -ms-overflow-style: none;


        .card {
            cursor: pointer;
            width: 250px;
            height: 400px;
            position: relative;
            padding-bottom: 4px;
            transition: 400ms ease-out;
            margin-bottom: 20px;
            text-align: left;

            &:hover {
                transform: translateY(10px);
                border-bottom: 0px;

                img {
                    opacity: 0.1;
                }

                .info-div {
                    opacity: 0;
                }

                .hover-card {
                    opacity: 1;
                }
            }

            .hover-card {
                padding-top: 10px;
                z-index: 10;
                height: 100%;
                width: 100%;
                top: 0;
                padding: 10px 20px;
                position: absolute;
                opacity: 0;
                transition: 400ms ease-in-out;

                h1 {
                    text-align: left;
                    font-size: 1.2em;
                    padding-top: 10px;
                }

                span {
                    font-size: 1.1em;
                    padding-bottom: 5px;
                }

                .functional-div {
                    padding-top: 10px;
                    display: flex;
                    column-gap: 10px;
                }
            }

            img {
                transition: 400ms ease-in-out;
                height: 330px;
                width: 100%;
            }

            .info-div {
                transition: 400ms ease-in-out;
                h1 {
                    text-align: left;
                    font-size: 1.3em;
                    font-weight: 600;
                }
    
                h2 {
                    font-size: 1em;
                    font-weight: 300;
                }
            }
        }
    }
}




main.recommend {
    height: 100vh;
    text-align: center;
    padding-top: calc(var(--nav-height) + 30px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5px;
    padding-bottom: 30px;


    h1 {
        font-size: 2.5em;
    }

    h3 {
        font-size: 1.5em;
    }

    .btns {
        display: flex;
        gap: 25px;

        button {
            cursor: pointer;
            background: transparent;
            border: 2px solid black;
            padding: 15px 20px;
            margin-top: 16px;
            font-size: 1.05em;
            transition: 400ms ease-in-out;

            &:hover {
                border-color: #888;
            }
        }
    }
    
    span {
        margin-top: 10px;
        a {
            text-decoration: underline;
            font-style: italic;
        }
    }

    .card {
        cursor: pointer;
    }
}






// signup

main.signup, main.login {
    height: 100vh;
    padding-top: calc(var(--nav-height) + 70px);
    // padding-top: 100px;

    display: flex;
    justify-content: center;
    background-color: gray;

    .signup-div, .login-div {
        min-width: 450px;
        border-radius: 16px;
        border: 2px solid white;
        background-color: rgb(31, 41, 55);
        padding: 20px 25px;
        gap: 15px;
        height: fit-content;
        text-align: left;

        form {
            display: flex;
            flex-direction: column;
            gap: 10px;

            button {
                color: white;
                background: transparent;
                border: none;
                cursor: pointer;
                font-size: 1.2em;
            }

            p {
                color: white;
                margin-top: 10px;
                margin-bottom: 20px;

                a {
                    color: red;
                }
            }
        }

        h1 {
            color: white;
            font-size: 1.75em;
            margin-top: 5px;
            margin-bottom: 15px;
            // pimary color
        }

        .label-input {
            display: flex;
            flex-direction: column;
            gap: 6px;

            label {
                color: white;
                font-size: 1.1em;
            }

            input {
                font-size: 1.1em;
                padding-inline: 10px;
                padding-block: 12px;
                border-radius: 10px;
                border: none;
                // change input outline
            }
        }

        .terms-div {
            color: white;
            display: flex;
            gap: 10px;
            align-items: center;

            div {
                display: flex;
            }

            input {
                cursor: pointer;
            }

            a {
                color: red;
            }
        }
    }

}



@import "./rwd.scss";