* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --background-color-light: #fff;
    --color-light: black;

    --nav-height: 70px;

    // dark

}

// B R O W S E
main.browse {
    padding-top: calc(var(--nav-height) + 20px);
    padding-inline: 50px;
    display: flex;
    
    flex-direction: column;

    h1 {
        text-align: center;
    }

    form {
        display: flex;
        justify-content: center;
        margin-top: 20px;
        gap: 20px;
        padding-bottom: 30px;


        div {
            position: relative;
            display: flex;
            align-items: center;

            input {
                min-width: 300px;
                padding: 12px 20px;
                border-radius: 30px;
                padding-right: 40px;
            }

            .search-icon {
                position: absolute;
                right: 15px;
                cursor: pointer;
            }
        }

        button {
            padding: 2px 16px;
            background: transparent;
            font-size: 1.1em;
            cursor: pointer;
        }

    }

    .filter-div {

    }

    .cards {
        min-height: 100vh;
        display: flex;
        column-gap: 10px;
        // padding-inline: 25px;
        width: 100%;
        justify-content: center;
        padding-top: 10px;
        flex-wrap: wrap;

        scrollbar-width: none;
        -ms-overflow-style: none;


        .card {
            cursor: pointer;
            width: 250px;
            height: 400px;
            position: relative;
            padding-bottom: 4px;
            transition: 400ms ease-out;
            margin-bottom: 20px;
            text-align: left;

            &:hover {
                transform: translateY(10px);
                border-bottom: 0px;

                img {
                    opacity: 0.1;
                }

                .info-div {
                    opacity: 0;
                }

                .hover-card {
                    opacity: 1;
                }
            }

            .hover-card {
                padding-top: 10px;
                z-index: 10;
                height: 100%;
                width: 100%;
                top: 0;
                padding: 10px 20px;
                position: absolute;
                opacity: 0;
                transition: 400ms ease-in-out;

                h1 {
                    text-align: left;
                    font-size: 1.2em;
                    padding-top: 10px;
                }

                span {
                    font-size: 1.1em;
                    padding-bottom: 5px;
                }

                .functional-div {
                    padding-top: 10px;
                    display: flex;
                    column-gap: 10px;
                }
            }

            img {
                transition: 400ms ease-in-out;
                height: 330px;
                width: 100%;
            }

            .info-div {
                transition: 400ms ease-in-out;
                h1 {
                    text-align: left;
                    font-size: 1.3em;
                    font-weight: 600;
                }
    
                h2 {
                    font-size: 1em;
                    font-weight: 300;
                }
            }
        }
    }
}



// R E C O M M E N D
main.recommend {
    height: 100vh;
    text-align: center;
    padding-top: calc(var(--nav-height) + 30px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5px;
    padding-bottom: 30px;


    h1 {
        font-size: 2.5em;
    }

    h3 {
        font-size: 1.5em;
    }

    .btns {
        display: flex;
        gap: 25px;

        button {
            cursor: pointer;
            background: transparent;
            border: 2px solid black;
            padding: 15px 20px;
            margin-top: 16px;
            font-size: 1.05em;
            transition: 400ms ease-in-out;

            &:hover {
                border-color: #888;
            }
        }
    }
    
    span {
        margin-top: 10px;
        a {
            text-decoration: underline;
            font-style: italic;
        }
    }

    .card {
        cursor: pointer;
    }
}


// P R O F I L E
main.profile {
    padding-top: calc(var(--nav-height) + 50px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;

    // height: 100vh;

    .user-info {
        border-radius: 6px;
        padding-top: 15px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: rgb(233, 230, 230);
        width: 90%;
        padding-bottom: 20px;
        position: relative;
        
        .edit-link {
            position: absolute;
            top: 20px;
            right: 30px;
            font-size: 1.25em;
        }
        

        .img-div {
            width: 200px;
            aspect-ratio: 1 / 1;
            background-color: black;
            border-radius: 50%;
        }

        h1 {
            font-size: 1.5em;
            margin-top: 10px;

            span {

            }
        }

        h3 {
            font-size: 1em;
            color: gray;
            margin-top: 3px;
        }

        h2 {
            margin-top: 5px;
            font-size: 1.25em;
        }

        .interact-btns {
            margin-top: 10px;
            display: flex;
            column-gap: 10px;
 
            button {
                border: none;
                cursor: pointer;
                padding: 10px 15px;
                transition: 0.4s ease-in-out;
                border-radius: 3px;

                

                &:first-child {
                    background-color: rgba(0, 145, 255, 1);
                    color: white;

                    &:hover {
                        background-color: rgba(5, 105, 182, .8);
                    }
                }

                &:nth-child(2) {

                    &:hover {
                        background-color: rgb(215, 213, 213);
                    }
                }

                &:disabled {
                    cursor: not-allowed;
                    background-color: rgb(195, 195, 195);
                }
            }

            
        }

        .social {

            span {
                font-size: 1.5em;
            }

            .links {
                display: flex;
                justify-content: center;
                align-items: center;

                .icon {
                    transition: .4s ease-in-out;

                    &:hover {
                        color: rgb(7, 134, 7);
                    }
                }
            }
        }
    }

    .profile-nav {
        margin-top: 50px;
        width: 100%;
        background-color: rgb(233, 230, 230);
        padding: 30px 20px;

        ul {
            display: flex;
            column-gap: 30px;
            font-size: 1.75em;
            cursor: pointer;
            justify-content: space-around;
            
        }

        .content {
            margin-top: 20px;
        }
    }
}

// E D I T  P R O F I L E
main.edit-profile {
    padding-top: calc(var(--nav-height) + 20px);
    display: flex;
    flex-direction: column;
    align-items: center;

    .user-info {
        border-radius: 6px;
        padding-top: 15px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: rgb(233, 230, 230);
        width: 90%;
        padding-bottom: 20px;
        position: relative;

        .img-div {
            width: 200px;
            aspect-ratio: 1 / 1;
            background-color: black;
            border-radius: 50%;
        }

        h1 {
            font-size: 1.5em;
            margin-top: 10px;

            span {

            }
        }

        h3 {
            font-size: 1em;
            color: gray;
            margin-top: 3px;
        }

        h2 {
            margin-top: 5px;
            font-size: 1.25em;
        }

        .interact-btns {
            margin-top: 10px;
            display: flex;
            column-gap: 10px;

            button {
                border: none;
                cursor: pointer;
                padding: 10px 15px;
                transition: 0.4s ease-in-out;
                border-radius: 3px;

                &:first-child {
                    background-color: rgba(0, 145, 255, 1);
                    color: white;

                    &:hover {
                        background-color: rgba(5, 105, 182, .8);
                    }
                }

                &:nth-child(2) {

                    &:hover {
                        background-color: rgb(215, 213, 213);
                    }
                }
            }

            
        }
    }

    .inputs {
        margin-top: 50px;
        padding: 10px 20px;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        justify-content: start;
        background-color: rgb(233, 230, 230);
        width: 90%;
        row-gap: 10px;

        .first-div, .biography-div, .socials {
            display: flex;
            flex-direction: column;
            row-gap: 6px;

            div {
                display: flex;
                flex-direction: column;
                row-gap: 10px;
                margin-top: 8px;
            }

            textarea {
                resize: none;
                outline: none;
                padding: 10px 16px;
                font-size: 1.25em;
            }
        }

        .btns {
            display: flex;
            justify-content: end;
            column-gap: 30px;
            font-size: 1.5em;
            align-items: center;

            a {
                color: rgb(82, 4, 4);
                font-weight: bold;
            }

            button {
                cursor: pointer;
                padding: 6px 25px;
                font-size: .9em;
                background-color: rgb(0, 183, 0);
                border: green;
                border-radius: 4px;
                transition: .4s ease-in-out;

                &:disabled {
                    background-color: rgb(212, 207, 207);
                    cursor: not-allowed;

                }
            }
        }

        select {
            padding: 10px 16px;
            font-size: 1.25em;
        }

        input {
            border-radius: 5px;
            outline: none;
            padding: 10px 16px;
            font-size: 1.25em;

        }

        label {
            font-size: 1.5em;
        }


    }
}



// signup

main.signup, main.login {
    height: 100vh;
    padding-top: calc(var(--nav-height) + 70px);
    // padding-top: 100px;

    display: flex;
    justify-content: center;
    background-color: gray;

    .signup-div, .login-div {
        min-width: 450px;
        border-radius: 16px;
        border: 2px solid white;
        background-color: rgb(31, 41, 55);
        padding: 20px 25px;
        gap: 15px;
        height: fit-content;
        text-align: left;

        form {
            display: flex;
            flex-direction: column;
            gap: 10px;

            button {
                color: white;
                background: transparent;
                border: none;
                cursor: pointer;
                font-size: 1.2em;
            }

            p {
                color: white;
                margin-top: 10px;
                margin-bottom: 20px;

                a {
                    color: red;
                }
            }
        }

        h1 {
            color: white;
            font-size: 1.75em;
            margin-top: 5px;
            margin-bottom: 15px;
            // pimary color
        }

        .label-input {
            display: flex;
            flex-direction: column;
            gap: 6px;

            label {
                color: white;
                font-size: 1.1em;
            }

            input {
                font-size: 1.1em;
                padding-inline: 10px;
                padding-block: 12px;
                border-radius: 10px;
                border: none;
                // change input outline
            }
        }

        .terms-div {
            color: white;
            display: flex;
            gap: 10px;
            align-items: center;

            div {
                display: flex;
            }

            input {
                cursor: pointer;
            }

            a {
                color: red;
            }
        }
    }

}



@import "./rwd.scss";