// medium screen, after 76px
@media screen and (min-width: 768px ) {
    nav {
        ul {
            display: flex !important;
    
            li {
                font-size: 85%;
            }
        }
    }

    .sidebar {
        display: none;
    }

    .icons {
        display: flex !important;
    }

    .hamburger-menu {
        display: none !important;
    }

    footer {
        .footer-div {
            flex-direction: row;
        }
    }
}

// medium screen, after 850px
@media screen and (min-width: 850px) {
    nav {
        li {
            font-size: 115% !important;
        }
    }
    .main-page-browse {

        .main-cards {
            flex-wrap: wrap;
            justify-content: center;
        }
    }
}

// larger screen, after 1300px
@media screen and (min-width: 1300px) {
    footer {
        flex-direction: row;

        .footer-div {
            flex-direction: column;
        }

        .info {
            padding: 0px 50px;
        }
    }
}

// change fontsize on nav links el