@media screen and (min-width: 768px ) {
    // after 768px
    ul {
        display: flex !important;

        // .dropdown-content {
        //     display: none;
        // }
    }

    .sidebar {
        display: none;
    }

    // .searchbox {
    //     display: inline !important;
    // }

    .icons {
        display: flex !important;
    }

    .hamburger-menu {
        display: none !important;
    }

    footer {
        .footer-div {
            flex-direction: row;
        }
    }
}

@media screen and (min-width: 800px) {
    .main-page-browse {

        .main-cards {
            flex-wrap: wrap;
            justify-content: center;
        }
    }
}

@media screen and (min-width: 1300px) {
    footer {
        flex-direction: row;

        .footer-div {
            flex-direction: column;
        }

        .info {
            padding: 0px 50px;
        }
    }
}

// @media screen and (max-width: 768px) {
//     nav {
//         padding-inline: 30px;
//         justify-content: space-between;
//         ul {
//             display: none;
//         }

//         .searchbox {
//             display: none;
//         }
//     }
// }

